body{
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container{
    width: 1000px;
    height: 550px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.9)), url(parrot.jpg);
    background-size: cover;
    margin: 20px auto;
    border-radius: 50px;
}

#calculator{
    width: 320px;
    height: 520px;
    background-color: #f7f8f9db;
    margin: 20px auto;
    position: relative;
    top: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

#result{
    height: 120px;
}

#keyboard{
    height: 400px;
}

#history{
    height: 20px;
    text-align: right;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #720000;
}

#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

.operator, .number, .empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 100%;
    border-width: 0;
}

.number, .empty{
    background-color: #f7f8f900;
}

.number, .operator{
    cursor: pointer;
}

.number:active, .operator:active{
    font-size: 12px;
}

button:nth-child(4){
    background-color: #a3ff04;
    font-size: 20px;
}

button:nth-child(8){
    background-color: #ffd904;
    font-size: 20px;
}

button:nth-child(12){
    background-color: #04ffee;
    font-size: 20px;
}

button:nth-child(16){
    background-color: #ff04ab;
    font-size: 20px;
}

button:nth-child(20){
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
}